Lab Code/Server User/Service References/ServiceReference1/WcfUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfUser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="DataUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataUser" nillable="true" type="tns:DataUser" />
  <xs:complexType name="ArrayOfDataUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataUser" nillable="true" type="tns:DataUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataUser" nillable="true" type="tns:ArrayOfDataUser" />
</xs:schema>